h1 {
    text-align: center;
    color: #ffffff;
    font-family: Pacifico, cursive;
    font-size: 40px;
}
h2 {
    text-align: center;
    color:#ffffff;
    font-family: Pacifico, cursive;
    font-size: 30px;
}

body {
    background-image: url(https://res.cloudinary.com/rhensat/image/upload/v1583880152/2018-02-06_22-44-57_601_pmr1ei.jpg);
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;    
}

div {
    margin:10px;
    font-family: Pacifico, cursive;
    font-size: medium;
}
.navbar-light .navbar-nav .nav-link{
    font-weight:700;
    font-family:"Lato", sans-serif;
    font-size: 1.75em ;
}
.nav-color{
    background-color: #1c2331; 
}
.nav-link-color {
    color: #59698d;
}
.btn btn-primary { 
    background-color: black; 
}
article {
    color:#000000;
    background-color: rgba( 255,255,255,.5);
    display:flex;
    height: 800px;
    width:800px;
    margin: 0 auto;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: Pacifico, cursive;
}
#me {
    display: flex;
    font-size: 40px;
    align-items:center;
    justify-content:center;
}

p {
    color:#000000;
    background-color: rgba( 255,255,255,.5);
    display:flex;
    justify-content: center;
    font-size: 15px;

}
.Mandela {
    font-size: 15px;
    font-family: Pacifico, cursive;
}   
.square {
    display: flex;
    background-color:rgba( 255,255,255,.5);
    height:800px;
    widows:800px;
    border-radius: 100%;
    color: black;
    font-size: 30px;
    font-family: Pacifico, cursive;
    align-items:center;
    justify-content:center;
}
.row{ 
    justify-content: space-evenly;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px, auto;
    justify-content:center;
    align-items:center;
}

@media (max-width: 768px) { 
  .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 80%, auto;
        width: 50%; 
    }
    article { 
        width: 50%;       
    }     
    .card {
        min-width: 80%;
    }           
@media (min-width: 992px) and (max-width: 1199px){
    .wrapper{
        grid-template-columns: repeat(3, 1fr);
        width: 50%;}
    article {
        width: 50%;
        font-size: 50px;}
    }
    .card{
        min-width: 40%;
    }
@media (min-width: 1200px) { 
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        width: 25%; 
    }
    article { 
        width: 25%;
        font-size: 70px;}
    }